body {
  font-family: "Myriad Pro", Calibri, Helvetica, Arial, sans-serif;
}
.button {
  color: inherit;
  text-decoration: none;
  background-color: #6bb2fb;
  background-image: linear-gradient(#75b9fe, #469af0);
  padding: 10px;
  margin: 20px;
  position: relative;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 17px;;
}

.button:after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: black;
    z-index: -1;
    border-radius: 5px;
  }
  
span.caption {
  color: #ffffff;
  margin-right: 10px;
}
.icon-star {
  color: #acd2f7;
  font-size: 1.1em;
  position: relative;
}
.icon-star:before {
    color: #acd2f7;
    content: "\2605";
    position: absolute;
    left: 0;
}

.icon-star.full:before {
  color: #ffffff;
  content: "\2605";
  position: absolute;
  left: 0;
}
img{
    border: 1px solid #e2e2e2;
}
